<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584220135965-69ujhvmhhm1q7dumshng19q1pl1ftphb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584220135965-69ujhvmhhm1q7dumshng19q1pl1ftphb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584220135965-0i21h4numnlhdgt6je84336vlu4mncja.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmIDS4XN_3S8O1hn7GZDgQaSwiikRCkh0</string>
	<key>GCM_SENDER_ID</key>
	<string>584220135965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Nobelist</string>
	<key>PROJECT_ID</key>
	<string>novel-app-test</string>
	<key>STORAGE_BUCKET</key>
	<string>novel-app-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584220135965:ios:03f7b2d472aeeaf46f6cf4</string>
	<key>DATABASE_URL</key>
	<string>https://novel-app-test-default-rtdb.firebaseio.com</string>
</dict>
</plist>